recursive-include AnastrisTNG/illustris_python *.py
recursive-include AnastrisTNG/pytreegrav *.py
include AnastrisTNG/illustris_python/LICENSE.md
include AnastrisTNG/pytreegrav/LICENSE.txt

include LICENSE
include requirements.txt
include README.md